body::-webkit-scrollbar {
    display: block;
}




::-webkit-scrollbar {
    width: 6px;
    background-color: #141414;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #141414;
}